@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide right scrollbar ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
} */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

input[type='checkbox'] {
  appearance: auto;
  -webkit-appearance: auto;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading__dot {
  animation: dot ease-in-out 1s infinite;
  background-color: grey;
  display: inline-block;
  height: 5px;
  margin: 2px;
  width: 5px;
  border-radius: 50%;
}

.loading__dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading__dot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes dot {
  0% {
    background-color: grey;
    transform: scale(1);
  }
  50% {
    background-color: grey;
    transform: scale(1.3);
  }
  100% {
    background-color: grey;
    transform: scale(1);
  }
}
